<h1>Editing Book</h1>

<<<<<<< HEAD
<%= render 'form' %>
=======
<%= render 'form', book: @book %>
>>>>>>> f6c266d8be73c9af1496ff1165e33c9a80725c9f

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
